.application_search_main_container {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
  position: relative;
}

.application_search_container {
  background-image: url("../../assets/application_search_background.png");
  background-size: cover;
  background-position: left;
  background-repeat: no-repeat;
  max-width: 100%;
  padding: 22px 15px;
  border-radius: 10px;
  border: 1px solid #ddd;
  display: flex;
  flex-direction: column;
  gap: 10px;
  position: relative;
  z-index: 10; /* Ensure container is below search bar and dropdown */
}

.application_search_content_header_text {
  color: #010101;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: -0.108px;
}

.application_search_content {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.application_search_content_cards {
  display: flex;
  flex-direction: row;
  gap: 10px;
  flex-wrap: wrap;
}

.backdrop_overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #ffff; /* Semi-transparent shade */
  opacity: 0.5;
 
  z-index: 500; /* Below search bar and dropdown, above other content */
  cursor: pointer;
}

.search_bar_zindex {
  z-index: 1000; /* Higher than backdrop to remain unblurred */
}