.container {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* 3 columns */
  gap: 15px 100px; /* row-gap, column-gap */
  padding: 0px 20px;
}

.item {
  display: flex;
  flex-direction: column;
}

.label {
  font-size: 14px;
  font-weight: 500;
  color: #666;
}

.value {
  font-size: 16px;
  font-weight: 600;
  color: #000;
}
